@import "../../theme/fonts.css";

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
ion-menu.ios ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0 0 0;
}
ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

/* ion-menu.md ion-list-header {
  padding-left: 10px;
} */

/* ion-menu.md ion-list ion-list-header {
  padding: 38px 16px 16px 16px;
  position: relative;
  display: block;
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
} */
ion-menu.md ion-list-header {
  padding: 38px 16px 16px 0px;
  position: relative;
  display: block;
}
ion-menu.ios ion-list-header {
  margin-left: -20px;
  padding: 38px 16px 16px 0px;
  position: relative;
  display: block;
}

ion-menu.md ion-list-header ion-label {
  text-align: center;
  font-style: italic;
  color: #ea5b00;
  font-size: 40px;
  font-weight: 600;
}
ion-menu.ios ion-list-header ion-label {
  text-align: center;
  font-style: italic;
  color: #ea5b00;
  font-size: 40px;
  font-weight: 600;
  margin-left: -20px;
}

ion-menu.md ion-list-header ion-button {
  margin-bottom: 35px;
}
ion-menu.ios ion-list-header ion-button {
  margin-bottom: 35px;
}

ion-menu.md ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}
ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 65px;
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-success);
}
ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-success);
}

ion-menu.md ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}
ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu ion-item ion-label {
  font-size: 20px !important;
  font-weight: 300;
}

ion-item.selected {
  --color: var(--ion-color-success);
}
